﻿@page "/shippingPortal"
@using Blazored.LocalStorage
@using ViewModels.ShippingPortal
@using ViewModels.Models.MainMenu

@inject ILocalStorageService LocalStorage;

<div class="form-style-1" id="body" tabindex="0">
	<h2>Shipping Portal</h2>
</div>

@code{

	ShippingPortalViewModel Model;

		private const string SETTINGS = "ShippingPortalSettings";

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new ShippingPortalViewModel( async () => await LocalStorage.GetItemAsync<string>( SETTINGS ),
											 async saveData => { await LocalStorage.SetItemAsync( SETTINGS, saveData ); },
											 () => { InvokeAsync( StateHasChanged ); } );
	}

	public void Dispose()
	{
		Model.SaveSettings();
	}

}
