﻿@using ViewModels.Models.MainMenu
@inject NavigationManager NavManager

@inherits LayoutComponentBase
<div class="top-bar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu ">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="topbar-content ">
        <a class="ids" href="https://www.idsapp.com/">IDS Internet Dispatch Services</a>
        <span>@Model.UserName</span>
    </div>
</div>

<div class="main">
    <div class="@NavMenuCssClass" @onmouseover="OnMouseEnter ">

        <div class="sidebar">
            <NavMenu />
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>

@code {

    public MainViewModel Model;


    protected override void OnInitialized()
    {
        Instance = this;

        Model = new MainViewModel( () => { InvokeAsync( StateHasChanged ); } );
        base.OnInitialized();
	    NavManager.NavigateTo( "/" );
    }

    public static MainLayout Instance;


    public static MainViewModel MainViewModel => Instance.Model;


    bool CollapseNavMenu = true;

    string NavMenuCssClass => CollapseNavMenu ? "collapse" : "fade-in";


    void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }

    public void OnMouseOut()
    {
        CollapseNavMenu = true;
    }

    void OnMouseEnter()
    {
        CollapseNavMenu = false;
    }

}
