﻿@using ViewModels.Models.MainMenu

<div id="cssmenu">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Home</span>
            </NavLink>
        </li>

        @if (Model.IsIdsSpecialLogin)
        {
            <!--
        ----------- IDS -----------
        -->
            <li data-visible="@Model.IsIdsSpecialLoginAsString">
                <NavLink class="nav-link" href="/ids/manageTokens" @onmouseup="@MainLayout.Instance.OnMouseOut">
                    <span data-ids="">Manage Tokens</span>
                </NavLink>
            </li>

            <li data-visible="@Model.IsIdsSpecialLoginAsString">
                <NavLink class="nav-link" href="/ids/logs" @onmouseup="@MainLayout.Instance.OnMouseOut">
                    <span data-ids="">System Logs</span>
                </NavLink>
            </li>
        }

        <!--
		----------- Priority -----------
		-->
        <li data-visible="@Model.EnableDriverEstimate">
            <NavLink class="nav-link" href="/priority/driverEstimate" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Driver Estimate</span>
            </NavLink>
        </li>

        <li data-visible="@Model.EnableFileMenu" class="has-sub">
            <a>
                <span>File</span>
            </a>
            <ul>
                <li class="last" data-visible="@Model.EnablePreferences">
                    <NavLink class="nav-link" href="preferences" @onmouseup="@MainLayout.Instance.OnMouseOut">
                        <span>Preferences</span>
                    </NavLink>
                </li>
            </ul>
        </li>

        <!--
	    ----------- Sign In -----------
		-->
        <li data-visible="@Model.NotSignedInAsString">
            <NavLink class="nav-link" href="carrierSignIn" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Carrier Sign In</span>
            </NavLink>
        </li>

        <li data-visible="@Model.NotSignedInAsString">
            <NavLink class="nav-link" href="driverSignIn" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Driver Sign In</span>
            </NavLink>
        </li>

        <li data-visible="@Model.NotSignedInAsString">
            <NavLink class="nav-link" href="shippingPortalSignIn" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Shipping Portal Sign In</span>
            </NavLink>
        </li>
		<!-- ------------------------------------ -->


		<li data-visible="@Model.EnableSearchTrips">
            <NavLink class="nav-link" href="searchTrips" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Search</span>
            </NavLink>
        </li>

        <li data-visible="@Model.EnableMaintainStaff">
            <NavLink class="nav-link" href="maintainStaff" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Staff</span>
            </NavLink>
        </li>

        <li data-visible="@Model.SignedInAsString" style="border-top: white thin solid">
            <NavLink class="nav-link" href="signOut" @onmouseup="@MainLayout.Instance.OnMouseOut">
                <span>Sign Out</span>
            </NavLink>
        </li>

        <li>
            <a href="#">
                <span>About</span>
            </a>
        </li>
        <li class="last">
            <a href="#">
                <span>Contact</span>
            </a>
        </li>
    </ul>
</div>

@code
{
	NavMenuViewModel Model;

	protected override void OnInitialized()
	{
		Model = new NavMenuViewModel( () => { InvokeAsync( StateHasChanged ); } );

		base.OnInitialized();
	}
}
