﻿@page "/preferences"
@using ViewModels.Models.Preferences

<style>
	ul { max-height: 90vh; }

	li {
		margin-right: 3rem;
		margin-left: -1rem;
		border-right: thin solid white;
	}

	table { width: 100%; }

	td { width: 50%; }

</style>
<h1>Preferences</h1>
<ul class="inside-content flex-column flex-wrap flex list-style-none">

	@foreach( var Item in Model.Items )
	{
		<li>
			<table>
				<tr>
					<td>@Item.Description</td>
					<td>
						@if( @Item.ShowString )
						{
							<input type="text" @bind-value="@Item.StringValue"/>
						}
						else if( @Item.ShowBool )
						{
							<input type="checkbox" @bind="@Item.BoolValue"/>
						}
						else if( @Item.ShowInt )
						{
							<input type="number" @bind-value="@Item.IntValue"/>
						}
					</td>
				</tr>
			</table>
		</li>
	}
</ul>

@code
{
	PreferencesViewModel Model;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new PreferencesViewModel( () =>
										  {
											  InvokeAsync( StateHasChanged );
										  } );
	}
}
