﻿@page "/priority/driverEstimate"
@using ViewModels._Customers.Priority

<style>
	#select {
		margin-left: 1rem;
		padding-right: 1rem;
	}

	#dates td:nth-child(3) { padding-left: 3rem; }

	#select table { margin-left: 1rem; }

	#select td { vertical-align: middle; }

	#commissionTable tr > :nth-child(6), tr > :nth-child(7) {
		padding-right: .2rem;
		text-align: right;
	}

	#commissionTable tr > :nth-child(2), tr > :nth-child(3), tr > :nth-child(4), tr > :nth-child(5), tr > :nth-child(6) {
		border-left-color: black;
		border-left-style: solid;
		border-left-width: 1px;
	}

	#commissionTable tbody > tr > :nth-child(7) {
		border-left-color: white;
		border-left-style: solid;
		border-left-width: 1px;
	}

	.grouping {
		background-color: var(--NavBarBackground);
		color: var(--FormHeaderText);
		padding-bottom: 1rem;
		padding-left: .2rem;
		padding-right: .2rem;
	}

	.grouping_table {
		background-color: transparent;
		font-size: .8rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 3rem;
		margin-bottom: 1rem;
		padding-right: 1rem;
		width: 68%;
	}

	.details {
		margin-bottom: 1rem;
		width: 100%;
	}

	.padding0 { padding: 0; }

	.sub-total-row { background-color: var(--DefaultBackground); }

	.sub-total-cell {
		background-color: var(--NavBarBackground);
		color: var(--FormHeaderText);
		padding-left: .2rem;
		padding-right: .2rem;
		text-align: right;
	}

	.sub-total-cell-top-border {
		border-top-color: white;
		border-top-style: dashed;
		border-top-width: 1px;
	}

	.values { background-color: gainsboro; }

	.map-position {
		float: right;
		position: sticky;
		right: 1rem;
		top: 1rem;
		width: 20rem;
		height: 20rem;
	}

	.direction-position {
		width: 20rem;
		height: 20rem;
		background-color: azure;
		color: black;
		margin-top: 2rem;
		font-size: .7rem;
	}

	.directions {
		background-color: var(--NavBarBackground);
		font-size: 1rem;
		font-size: .7rem;
		font-weight: lighter;
		margin: 0;
		width: 100%;
		color: white;
		padding-left: .5rem;
	}

	.scroll {
		overflow: scroll;
		width: 100%;
		height: 100%;
		padding-left: .7rem;
		padding-right: .7rem;
	}

	.inputEstimate {
		text-align: center;
		width: 100%;
	}

	.width100P { width: 100%; }

	.grandTotals {
		float: right;
		font-size: 1.1rem;
	}

	.hours48 {
		text-align: center;
		margin-top: 1rem;
		margin-left: 1rem;
		background-color: var(--NavBarBackground);
		color: white;
		width: fit-content;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.estimate {
		text-align: center;
		margin-top: 2rem;
		margin-left: 1rem;
		background-color: var(--NavBarBackground);
		color: gold;
		width: fit-content;
		font-size: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
</style>

<h1>Driver Estimate</h1>
<div class="map map-position">
	<AzureMap MapId="DriverEstimateMap" Header="@Model.RouteName" HeaderClass="map_header" Route="@Model.Route"></AzureMap>
	<div class="direction-position">
		<h3 class="directions">Directions</h3>
		<div class="scroll">
			@foreach( var D in Model.Directions )
			{
				@if( D.ToString().Trim() != "" )
				{
					<span>@D</span>
					<br/>
				}
			}
		</div>
	</div>
</div>

<div class="flex flex-row flex-wrap" id="select">
	<div class="form-style-1 flex flex-column">
		<div class="toolbar">
			<h3>Select Dates</h3>
			<div>
				<button class="oi oi-x icon-x" data-disabled-black="@Model.DisableCancelAsString" @onclick="() => { Model.OnCancel(); }   "></button>
				<button class="oi oi-magnifying-glass icon-magnifying-glass" data-disabled-black="@Model.DisableSearchAsString" @onclick="() => { Model.OnSearch(); } "></button>
			</div>
		</div>
		<div class="flex flex-row pr1" data-disabled="@Model.DisableDateSearchAsString">
			<table id="dates" data-disabled="@Model.DisableDateSearchAsString">
				<tr>
					<td>From Date:</td>
					<td><input type="date" @bind-value="@Model.FromDate"/></td>
					<td>ToDate:</td>
					<td><input type="date" @bind-value="@Model.ToDate"/></td>
				</tr>
				<tr>
					<td colspan="4"><span class="inputEstimate">The following information is only an estimate.</span></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="hours48">
	Details are not available for 48 hours after the delivery has been completed.
</div>

<div class="estimate" style="visibility: @Model.EstimatesVisibility">
	@if( @Model.TotalsVisible )
	{
		<td colspan="4"><span class="inputEstimate">The following information is only an estimate.</span></td>
	}
	else
	{
		<td colspan="4"><span class="inputEstimate">Nothing to display.</span></td>
	}
</div>

<table class="grouping_table">
	@foreach( var G in Model.DisplayGroupCommissions )
	{
		<tr @onclick="() => { Model.OnShowRoute(G.Group); } ">
			<td class="padding0">
				<span class="grouping">
					@G.ServiceLevel: &nbsp;&nbsp;@G.Group
				</span>
			</td>

		</tr>
		<tr class="form-style-1 details" @onclick="() => { Model.OnShowRoute(G.Group); } ">
			<table id="commissionTable">
				<thead class="dark">
				<tr>
					<th>Date</th>
					<th>Shipment Id</th>
					<th>Destination</th>
					<th>DStreet</th>
					<th>DCity</th>
					<th>Dist</th>
					<th>Estimate</th>
				</tr>
				</thead>
				@foreach( var C in G.DisplayCommissions )
				{
					<tr>
						<td>
							@C.Date.ToString( "yyyy/MM/dd" )
						</td>
						<td>
							@C.TripId
						</td>
						<td>
							@C.DestinationCompany
						</td>
						<td>
							@C.DestinationStreet
						</td>
						<td>
							@C.DestinationCity
						</td>
						<td class="values">
							@C.Distance.ToString( "###,##0" )
						</td>
						<td class="values">
							$@C.Estimate.ToString( "N2" )
						</td>
					</tr>
				}
				<tr class="sub-total-row">
					<td colspan="4">&nbsp;</td>
					<td class="sub-total-cell">Sub Totals:</td>
					<td class="sub-total-cell sub-total-cell-top-border">@G.SubTotalDistance.ToString( "###,##0" )</td>
					<td class="sub-total-cell sub-total-cell-top-border">$@G.SubTotalEstimate.ToString( "N2" )</td>
				</tr>
			</table>
		</tr>
	}
	<tfoot>
	<table class="grandTotals" style="visibility: @Model.TotalsVisibility">
		<td class="sub-total-cell">Totals For The Date Range Selected:</td>
		<td class="sub-total-cell sub-total-cell-top-border">@Model.TotalDistance.ToString( "###,##0" )</td>
		<td class="sub-total-cell sub-total-cell-top-border">$@Model.TotalEstimate.ToString( "N2" )</td>
	</table>
	</tfoot>
</table>

@code
{
	DriverEstimateViewModel Model;

	protected override void OnInitialized()
	{
		Model = new DriverEstimateViewModel( () => { InvokeAsync( StateHasChanged ); } );

		base.OnInitialized();
	}
}
