﻿/* Default */
@media screen and (orientation: landscape) {
    :root { font-size: 16px; }

    @media (max-width: 1080px) {
        :root { font-size: 12px; }
    }
    @media (min-width: 1081px) and (max-width: 1400px) {
        :root { font-size: 14px; }
    }
}

@media screen and (orientation: portrait) {
    :root { font-size: 14px; }
}





html {
    /* font-size: 62.5%; *//* 62.5 % of 16px is 10px */
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

html, body {
    background-color: var(--DefaultBackground);
    color: var(--DefaultTextColour);
    height: 100%;
    width: 100%;
}


.multiline { white-space: pre-wrap; }

.ids {
    color: var(--Ids);
    padding-left: 1rem;
    padding-right: 1rem;
}

a.ids:link { color: var(--IdsLink); }

a.ids:hover { color: var(--IdsLink_hover); }

.flex { display: flex; }

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}

h1 { font-size: 2rem; }

table { border-color: var(--TableBorder); }

td { border-color: var(--TableBorder); }

button {
    background-color: var(--ButtonBackground);
    color: var(--ButtonText);
}

button[disabled] { opacity: 0.3; }

button:focus { background-color: var(--ButtonFocusBackground); }

app {
    display: flex;
    flex-direction: column;
    position: relative;
}

.collapse { display: none; }

*[data-disabled="true"], *[data-disabled="True"] {
    opacity: 0.3;
    pointer-events: none;
}

*[data-disabled-black="true"], *[data-disabled-black="True"] {
    color: black !important;
    opacity: .5 !important;
    pointer-events: none;
}

*[data-visible="false"], *[data-visible="False"] { display: none; }

*[data-hidden="true"], *[data-hidden="True"] { visibility: hidden; }

*[data-collapsed="true"], *[data-collapse="True"] { visibility: collapse; }

*[data-expand="false"], *[data-expand="False"] {
    display: none;
    font-size: .7rem;
}

*[data-expand="true"], *[data-expand="True"] {
    display: revert;
    font-size: .7rem;
}

*[data-notExpand="false"], *[data-notExpand="False"] {
    display: revert;
    font-size: .7rem;
}

*[data-notExpand="true"], *[data-notExpand="True"] {
    display: none;
    font-size: .7rem;
}

.content { width: 100%; }

.content h1 {
    background-color: var(--ContentH1Background);
    padding-left: 1rem;
    text-transform: uppercase;
    width: 100%;
}

.inside-content {
    height: 96%;
    margin-left: 1rem;
}

.list-style-none { list-style: none; }

.error {
    color: var(--Error) !important;
    font-weight: 500;
}

.panel {
    background-color: var(--PanelBackground);
    color: var(--PanelTextColour);
}


.border {
    border: var(--Border) !important;
    border-style: solid !important;
}

.top-bar {
    align-items: center;
    background-color: var(--SideBarTop);
    display: flex;
}


.topbar-content {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    width: 100%;
}

.topbar-content a { margin-top: .1rem; }

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}


.fade-in {
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    opacity: 1;
}

@keyframes fadeInOpacity {
    0% { opacity: 0; }

    100% { opacity: 1; }
}