﻿.navbar-toggler {
    background-color: var(--NavBarTogglerBackground);
    color: var(--NavBarToggler);
    padding: 0;
    font-size: 1rem;
}

.sidebar {
    background-color: var(--SigeBarBackground);
    height: 100%;
    margin-top: -3px;
    position: fixed;
    z-index: 1000;
    min-width: 1rem;
    display: flex;
    flex-direction: column;
}

/* Starter CSS for Flyout Menu */

#cssmenu {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}

#cssmenu span[data-ids] { color: var(--IdsNavBarText); }

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cssmenu ul {
    position: relative;
    z-index: 597;
    float: left;
}

#cssmenu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

#cssmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 598;
    width: 100%;
}

#cssmenu ul ul li { float: none; }

#cssmenu ul ul ul {
    top: -2px;
    right: 0;
}

#cssmenu ul li:hover > ul { visibility: visible; }

#cssmenu ul ul {
    top: 1px;
    left: 99%;
}

#cssmenu ul li { float: none; }

#cssmenu ul ul { margin-top: 1px; }

#cssmenu ul ul li { font-weight: normal; }

/* Custom CSS Styles */

#cssmenu {
    width: 200px;
    background: var(--NavBarBackground);
    zoom: 1;
    font-size: 12px;
}

#cssmenu:before {
    content: '';
    display: block;
}

#cssmenu:after {
    content: '';
    display: table;
    clear: both;
}

#cssmenu a {
    display: block;
    padding: 15px 20px;
    color: var(--NavBarItem_a);
    text-decoration: none;
    text-transform: uppercase;
}

#cssmenu > ul { width: 200px; }

#cssmenu ul ul { width: 200px; }

#cssmenu > ul > li > a {
    border-right: 1px solid var(--NavBarHighlight);
    color: var(--NavBarItem_a);
}

#cssmenu > ul > li > a:hover { color: var(--NavBarItem_a); }

#cssmenu > ul > li.active a { background: var(--NavBarHighlight); }

#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a { background: var(--NavBarHighlight); }

#cssmenu li { position: relative; }

#cssmenu ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
}


#cssmenu ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

#cssmenu ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

#cssmenu ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

#cssmenu ul ul { border: 1px solid #0082e7; }

#cssmenu ul ul a {
    font-size: 12px;
    color: var(--NavBarItem_a);
}

#cssmenu ul ul a:hover { color: var(--NavBarItem_a); }

#cssmenu ul ul li { border-bottom: 1px solid #0082e7; }

#cssmenu ul ul li:hover > a {
    background: #4eb1ff;
    color: #ffffff;
}

#cssmenu.align-right > ul > li > a {
    border-left: 4px solid var(--NavBarHighlight);
    border-right: none;
}

#cssmenu.align-right { float: right; }

#cssmenu.align-right li { text-align: right; }

#cssmenu.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

#cssmenu.align-right ul li.has-sub > a:after { content: none; }

#cssmenu.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

#cssmenu.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

#cssmenu.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

#cssmenu.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}