﻿@using ViewModels.Components
@inject IJSRuntime Js

<style>
	.map100P {
		height: 100%;
		width: 100%;
	}

	.mapBackground { background-color: azure; }

	.mapHeader {
		background-color: var(--NavBarBackground);
		font-size: 1rem;
		font-size: .75rem;
		font-weight: lighter;
		margin: 0;
		padding-left: .5rem;
		width: 100%;
	}
</style>

<div class="map100P @Model.Class">
	<h3 class="mapHeader @Model.HeaderClass">@Model.Header</h3>
	<div id="@Model.MapId" class="map100P mapBackground"></div>
</div>

@code
{
#nullable enable

    AzureMapViewModel? Model;

    protected override void OnInitialized()
    {
        Model = new AzureMapViewModel( () => { InvokeAsync( StateHasChanged ); } );
        base.OnInitialized();
        if( Model is not null )
        {
            Model.JsRuntime = (JSRuntime)Js;
            Model.MapId = MapId;
            Model.Header = Header;
            Model.Class = Class;
            Model.HeaderClass = HeaderClass;
        }
    }

    [Parameter]
    public string MapId { get; set; } = "";


    private string _Header = "";

    [Parameter]
    public string Header
    {
        get => _Header;
        set
        {
            _Header = value;
            if( Model is not null )
                Model.Header = value;
        }
    }

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string HeaderClass { get; set; } = "";

    #region Amimation
    private string _Animation = "None";

    [Parameter]
    public string Animation
    {
        get => _Animation;
        set
        {
            _Animation = value;
            if( Model is not null )
                Model.Animation = value;
        }
    }
    #endregion

    #region Route
    private IEnumerable<RouteEntry> _Route = new List<RouteEntry>();

    [Parameter]
    public IEnumerable<RouteEntry> Route
    {
        get => _Route;
        set
        {
            _Route = value;
            if( Model is not null )
                Model.Route = value;
        }
    }
    #endregion
}
