﻿@page "/ids/logs"
@using ViewModels.Ids
@inject ClipboardService ClipboardService

<style>

	tr { vertical-align: top; }

	#mainDiv {
		margin-left: 2rem;
		margin-top: 2rem;
	}

	#mainDiv ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.log { margin-left: 2rem; }

	.disblayBlock { display: block; }

	[data-selected="selected"] {
		background: var(--ButtonBackground);
		color: var(--ButtonText);
	}

	.carrierId {
		min-width: 3rem;
		text-align: center;
	}

	.logType {
		min-width: 15rem;
		text-align: center;
	}

	.logName {
		min-width: 15rem;
		text-align: center;
	}

	h3 {
		font-size: 14px;
		font-weight: normal;
		height: 1.6rem;
		padding-left: 0 !important;
		text-align: center;
		text-transform: capitalize !important;
	}

	#mainTable td {
		border-right: 1px solid black;
		padding-left: .5rem;
		padding-right: .5rem;
	}

	#logContents {
		border: transparent;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.busy {
		background-color: darkslategrey;
		background-image: url("icons/Spinner.gif");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100px;
		height: 100%;
		opacity: 0.5;
		position: absolute;
		width: 100%;
		z-index: 1000;
	}

	#copy { width: 15px; }

	.form-style-1 ul {
		max-height: 30rem;
		overflow-y: auto;
	}

	.radio-toolbar { background-color: var(--FormHeaderBackground) !important; }

	.radio-toolbar h3 {
		margin-bottom: 0;
		width: 100%;
	}

	#header { border-bottom: 2px solid white; }

	#filters {
		background-color: var(--DefaultBackground);
		padding-left: 2rem;
	}

	#filters span {
		color: white;
		margin: .5rem;
		float: right;
	}


	#filters input {
		float: right;
		margin-right: .7rem;
		min-width: 20rem;
	}

	#filters input[type="checkbox"] {
		float: left;
		min-width: 1rem;
		margin-top: 1rem;
	}

	#filters input[type="datetime"] {
		color: white;
		padding: 0;
		margin: 0;
		margin-top: .5rem;
	}

	#logTypes label {
		border: 1px solid;
		margin: 4px;
	}

	.searchString {
		border-top: 1px solid white;
		background-color: var(--FormHeaderBackground);
		color: white;
		padding-top: 1rem;
		display: block;
	}

	.searchString label { margin-right: .5rem; }

	.searchString input {
		background-color: white !important;
		display: block;
	}

	.searchString td { display: grid; }
</style>

<div class="busy" style="visibility: @Model.BusyVisibility">

</div>
<div id="mainDiv">
	<table class="form-style-1">
		<tr>
			<td id="logTypes" class="radio-toolbar">
				<input id="systemLogs" type="radio" name="LogTypes" @onclick="() => { Model.SoapLogsClick(); } "/>
				<label for="systemLogs">SOAP</label>

				<input id="webJobLogs" type="radio" name="LogTypes" @onclick="() => { Model.WebJobsClick(); } "/>
				<label for="webJobLogs">Web Jobs</label>
			</td>
			<td id="filters">
				<div class="radio-toolbar">
					<div class="toolbar" id="header">
						<h3>Search</h3>
						<button class="oi oi-magnifying-glass icon-magnifying-glass" data-disabled-black="@Model.DisableSearchAsString" @onclick="async () => { await Model.OnSearch(); } "></button>
					</div>
					<table>
						<tr>
							<td>
								<span>Utc:</span>
							</td>
							<td>
								<input type="checkbox" @bind-value="Model.Utc"/>
							</td>
						</tr>
						<tr>
							<td>
								<span>From Date:</span>
							</td>
							<td>
								<input type="datetime" @bind-value="@Model.FromDate"/>
							</td>
						</tr>
						<tr>
							<td>
								<span>To Date:</span>
							</td>
							<td>
								<input type="datetime" @bind-value="Model.ToDate"/>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr class="searchString">
			<td colspan="2"> <label for="searchText" class="float-left">Search Pattern:</label><input id="searchText"type="text" @bind-value="@Model.SearchString"/> </td>
		</tr>
	</table>
	<table class="form-style-1 float-left disblayBlock" id="mainTable">
		<thead class="dark">
		<tr>
			<th class="carrierId">Carrier Id's</th>
			<th class="logType">Log Type</th>
			<th class="logName">Log Name</th>
		</tr>
		</thead>
		<tr>
			<td>
				<ul>
					@foreach( var Carrier in Model.CarrierList )
					{
						<li data-selected="@Carrier.SelectedAttribute" @onclick="() => { Carrier.Selected = true; } ">@Carrier.Caption</li>
					}
				</ul>
			</td>
			<td>
				<ul>
					@foreach( var JobType in Model.LogTypesList )
					{
						<li data-selected="@JobType.SelectedAttribute" @onclick="() => { JobType.Selected = true; } ">@JobType.Caption</li>
					}
				</ul>
			</td>
			<td>
				<ul>
					@foreach( var Job in Model.LogList )
					{
						<li data-selected="@Job.SelectedAttribute" @onclick="() => { Job.Selected = true; } ">@Job.Caption</li>
					}
				</ul>
			</td>
		</tr>
	</table>

	<div class="form-style-1 float-left log">
		<h3>Log Contents <img id="copy" alt="Copy to clipboard" src="icons/Clipboard-Add_White.png" title="Copy to clipboard" @onclick="async () => { await CopyToClipboard(); } "/></h3>
		<div id="logContents" class="multiline">@Model.LogContents</div>
	</div>
</div>

@code
{
	LogsViewModel Model;

	protected override void OnInitialized()
	{
		Model = new LogsViewModel( StateHasChanged );
		base.OnInitialized();
	}

	async Task CopyToClipboard()
	{
	// Writing to the clipboard may be denied, so you must handle the exception
		try
		{
			await ClipboardService.WriteTextAsync( Model.LogContents );
		}
		catch
		{
			Console.WriteLine( "Cannot write text to clipboard" );
		}
	}
}
