﻿@page "/ids/manageTokens"
@using ViewModels.Ids;

<style>
	#mainForm {
		margin-left: 2rem;
		padding-right: 1rem;
		margin-top: 1rem;
	}

	.width6 { width: 6rem; }

	.margin1 { margin-left: 1rem; }

	.margin2 { margin-left: 2rem; }

	.marginBottom0 { margin-bottom: 0; }

	input[type="number"] { text-align: right; }

	input[type="checkbox"] { margin: auto; }

	input[required] {
		background: pink;
		opacity: .5;
	}

	input[required]:valid {
		background: transparent;
		opacity: 1 !important;
	}

	.grid-container {
		display: inline-grid;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		grid-template-columns: auto auto auto auto auto;
	}

	.grid-container input[placeholder] { opacity: .5; }

	.grid-container button {
		background-color: transparent;
		border: none;
		color: transparent;
		margin: 0;
		padding: 0;
	}

	.grid-item { border: 1px solid var(--Border); }

	.grid-item-header {
		border: 0;
		border-top: 1px solid var(--FormHeaderText);
		border-bottom: 1px solid var(--FormHeaderText);
		background: var(--GridBackground);
		color: var(--GridHeaderText) !important;
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.grid-expanded-container {
		grid-column-start: 1;
		grid-column-end: 6;
		display: inline-grid;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		grid-template-columns: auto auto auto;
	}

	.grid-expanded-container-header {
		background: var(--GridBackground);
		height: 1rem;
	}
</style>

<div class="flex flex-row flex-wrap" id="mainForm">
	<div class="form-style-1 flex flex-column float-left">
		<h3>
			Default Token Rate
			<span class="toolbar float-right margin2">
				<button title="Undo" class="oi oi-action-undo icon-action-undo" data-disabled-black="@Model.DisableUndo" @onclick="@Model.Undo"></button>
				<button title="Apply" class="oi oi-check icon-check" data-disabled-black="@Model.DisableApply" @onclick="@Model.Apply"></button>
			</span>
		</h3>
		<div class="w-100">
			<div>
				<label for="defaultValue" class="margin1">Default Token Rate:</label>
				<input type="number" id="defaultValue" class="float-right width6" @bind-value="@Model.DefaultTokenValue"/>
			</div>
			<br/>
			<div class="w-100">
				<label for="defaultExpire" class="margin1">Default Token Expires In Days:</label>
				<input type="number" id="defaultExpire" class="float-right width6" @bind-value="@Model.DefaultTokenExpiryDays"/>
			</div>
		</div>
	</div>
	<div class="form-style-1 flex flex-column float-left margin2">
		<h3 class="marginBottom0">
			Carrier Rates
			<span class="toolbar float-right margin2">
				<button title="Add" class="oi oi-plus icon-plus" data-disabled-black="@Model.DisableAdd" @onclick="@Model.Add"></button>
			</span>
		</h3>
		<div class="grid-container">
			<span class="grid-item-header">Carrier Id</span>
			<span class="grid-item-header">Token Rate</span>
			<span class="grid-item-header">Token Expire In Days</span>
			<span class="grid-item-header">Delete</span>
			<span class="grid-item-header"></span>
			@foreach( var CarrierRate in Model.CarrierChargeTokens )
			{
				<input required data-upperCase placeholder="Carrier Id" @bind-value="CarrierRate.CarrierId"/>
				<input type="number" placeholder="Rate" @bind-value="CarrierRate.SingleTokenRate"/>
				<input type="number" placeholder="Balance" @bind-value="CarrierRate.ExpiresInDays"/>
				<input type="checkbox" @bind-value="CarrierRate.Deleted" style="visibility: @CarrierRate.DeleteVisible"/>
				<button title="Expand" class="oi oi-arrow-circle-bottom icon-arrow-circle-bottom" style="visibility: @CarrierRate.ExpandedVisible" @onclick="@Model.Add"></button>
				<span></span>
				<div class="grid-expanded-container">
					<span class="grid-expanded-container-header">
					</span>

					<span class="grid-expanded-container-header">
						xxxxx
					</span>
					<span class="grid-expanded-container-header">
						yyyyy
					</span>
					<span></span>
				</div>
			}
		</div>
	</div>
</div>

@code
{
	ChargeTokensViewModel Model;

	protected override void OnInitialized()
	{
		Model = new ChargeTokensViewModel( StateHasChanged );
		base.OnInitialized();
	}
}
