﻿@page "/shippingPortalSignIn"
@using Blazored.LocalStorage
@using ViewModels.Models.SignIn
@using ViewModels.Models.MainMenu
@using WebSite.Pages._MainLayout
@implements IDisposable;

<style>
	.body button {
		margin-top: 2rem;
		width: 100%;
	}

	#body {
		flex-direction: column !important;
		margin-left: 1rem;
		width: 23rem;
	}

	.form-style-1 .body { flex-direction: column !important; }
</style>

<div class="form-style-1" id="body" tabindex="0">
	<h2>Shipping Portal Sign In</h2>

	@inject ILocalStorageService LocalStorage;

	@inject NavigationManager NavigationManager;

	<div class="body">
		<input tabindex="1" type="text" placeholder="Account" @bind-value="@Model.CarrierId" @bind-value:event="oninput"/>
		<input tabindex="2" type="text" placeholder="User Name" autofocus @bind-value="@Model.UserName" @bind-value:event="oninput"/>
		<input tabindex="3" type="password" placeholder="Password" @bind-value="@Model.Password" @bind-value:event="oninput">
		<button disabled="@Model.DisableSignIn" @onclick="() => { Model.ExecuteSignIn(); } " tabindex="4">SIGN IN</button>
		<span class="error" data-hidden="@Model.ErrorHiddenAsString">Invalid Credentials</span>
	</div>
</div>

@code{

	SignInViewModel Model;

		private const string SETTINGS = "ShippingPortalSignInSettings";

	protected override void OnInitialized()
	{
		NavMenuViewModel.Instance.SignedIn = false;

		base.OnInitialized();
		Model = new SignInViewModel( SignInViewModel.SIGN_TYPE.PORTAL, async () => await LocalStorage.GetItemAsync<string>( SETTINGS ),
									 async saveData => { await LocalStorage.SetItemAsync( SETTINGS, saveData ); },
									 () => { InvokeAsync( StateHasChanged ); } )
				{
					OnSignedIn = _ =>
								 {
									 MainLayout.Instance.Model.UserName = Model.UserName;
									 NavMenuViewModel.Instance.SignedIn = true;
									 NavigationManager.NavigateTo( "/shippingPortal" );
								 }
				};
	}

	public void Dispose()
	{
		Model.SaveSettings();
	}

}
